@import url('https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.6/static/pretendard.css');

* {
  font-family: Pretendard;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: #fcffff;
  background: #1c1c1e;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-size: 1rem;
}

button {
  font-size: 1rem;
  cursor: pointer;
}
